.DS_Store
.env
poetry.lock
.vscode/
.hypothesis
.pytest_cache


**/__pycache__
**/.ipynb_checkpoints/

not_git/
data/
historical_surgery_data/


uml/.$*

notebooks/task.pickle
notebooks/results/

*.pickle


CoseDaSistemareSE.txt